:host {
  /** @prop --sticky-note-color: Background of the sticky-note  */
  --sticky-note-color: #ffff88;
  /** @prop --sticky-note-width: width of the sticky-note  */
  --sticky-note-width: auto;
  /** @prop --sticky-note-min-width: min-width of the sticky-note  */
  --sticky-note-min-width: auto;
  /** @prop --sticky-note-max-width: max-width of the sticky-note  */
  --sticky-note-max-width: auto;
  /** @prop --sticky-note-height: height of the sticky-note  */
  --sticky-note-height: auto;
  /** @prop --sticky-note-min-height: min-height of the sticky-note  */
  --sticky-note-min-height: auto;
  /** @prop --sticky-note-max-height: max-height of the sticky-note  */
  --sticky-note-max-height: auto;
  /** @prop --sticky-note-margin: margin of the sticky-note  */
  --sticky-note-margin: 25px;
  /** @prop --sticky-note-padding: padding of the sticky-note  */
  --sticky-note-padding: 35px;
  /** @prop --sticky-note-font-family: font-family of the sticky-note  */
  --sticky-note-font-family: 'Chalkduster';
  /** @prop --sticky-note-font-size: font-size of the sticky-note  */
  --sticky-note-font-size: 1.5em;
   /** @prop --sticky-note-text-align: text-align of the sticky-note  */
  --sticky-note-text-align: center;
  /** @prop --sticky-note-border-radius: border-radius of the sticky-note  */
  --sticky-note-border-radius: 5px;
  /** @prop --sticky-note-overflow: overflow of the sticky-note  */
  --sticky-note-overflow: auto;
  /** @prop --sticky-note-display: display of the sticky-note  */
  --sticky-note-display: block;
  /** @prop --sticky-note-white-space: white-space of the sticky-note  */
  --sticky-note-white-space: pre-wrap;
}

@keyframes wobble {
  100% {
    border-radius:  var(--sticky-note-border-radius) var(--sticky-note-border-radius) calc(12 * var(--sticky-note-border-radius)) var(--sticky-note-border-radius) /
                    var(--sticky-note-border-radius) var(--sticky-note-border-radius) calc(4 * var(--sticky-note-border-radius)) var(--sticky-note-border-radius);
  }
}

.sticky-note {
  white-space: var(--sticky-note-white-space);
  text-align: var(--sticky-note-text-align);
  width: var(--sticky-note-width);
  min-width: var(--sticky-note-min-width);
  max-width: var(--sticky-note-max-width);
  height: var(--sticky-note-height);
  min-height: var(--sticky-note-min-height);
  max-height: var(--sticky-note-max-height);;
  margin: var(--sticky-note-margin);
  padding: var(--sticky-note-padding);
  overflow: var(--sticky-note-overflow);
  display: var(--sticky-note-display);
  position: relative;
  font-family: var(--sticky-note-font-family);
  font-size: var(--sticky-note-font-size);
  border-radius: var(--sticky-note-border-radius);
  background: linear-gradient(135deg, var(--sticky-note-color) 75%, #ffffff 110%);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.sticky-note:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sticky-note:focus {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.sticky-note-textarea {
  border: none;
  width: 100%;
  padding: 0;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  text-align: inherit;
  box-sizing: content-box;
}

.sticky-note-textarea:focus {
  outline: 0;
}

.paper-stack {
  overflow: visible;
}

.paper-stack,
.paper-stack::before,
.paper-stack::after {
  box-shadow: 1px 1px 1px rgba(0,0,0,0.25);
}

.paper-stack::before,
.paper-stack::after {
  content: "";
  position: absolute;
  height: 95%;
  width: 99%;
  background-color: var(--sticky-note-color);
}

.paper-stack::before {
  right: 15px;
  top: 0;
  transform: rotate(-2deg);
  z-index: -1;
}

.paper-stack::after {
  top: 5px;
  right: -5px;
  transform: rotate(1deg);
  z-index: -2;
}

.wobble {
  animation: wobble 1s ease-in-out alternate infinite;
}

[contenteditable]:focus {
  outline: 0px solid transparent;
}

[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}